.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 45%
    width: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 80%
    width: 15%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 6%
    width: 15%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 530px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important

.subt
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color: #FF494F
    border-radius: 200px
    width: 100%
    height: 75%
    top: 7px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-xs)
    &::before
      height: 100%
      top: 1px

.subt2
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color:  #FF494F
    border-radius: 200px
    width: 100%
    height: 75%
    top: 7px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media screen and (min-device-width: 767px) and (max-device-width: 1180px)
    &::before
      height: 107%
      top: -12px
    h3
      margin-left: 87px
      margin-top: -54px
      padding-bottom: 23px
  @media screen and (max-width: 767px)
    &::before
      height: 140%
      top: -24px
    h3
      margin-left: 2px
      margin-top: -9px
      padding-bottom: 4px

//bordes

.borde-redondo
  border-radius: 25px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.borde-redondo-izq
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px

// fondos

.bgamarillo
  background-color: #FFFCEF

.bgmorado
  background-color: #BDADEA

.bgmoradoclaro
  background-color: #F2EEFB


.bgfondotar
  background: url('../assets/curso/t1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 

.bgfondo21
  background: url('../assets/curso/t2/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 

  
  // viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

.lista-ul--color li > i:first-of-type 
  color: #FF494F

// temas

.sobrecuadro
  margin-bottom: -35px
  margin-left: -25px

.mover21
  margin-left: -12px

.tarjeta.color-primario-claro
  background-color: #FFEDEE

.tabs-a__tab 
  background-color:  #BDADEA

.tabs-a__tab__text
  white-space: normal !important